<a href="https://colab.research.google.com/github/Ambersword/Python-practice-/blob/main/Class_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9/24 Q1: class attributes, instance method and class method
Create a Employee class, with raise_amount = 1.05 as class attribute, with name and salary as instance attribute, and a instance method that apply raise to each employeeâ€™s salary, a class method that set raise_amount for the employee class, with a static method checking whether today is workday.

calculate the raised salary of John, with base salary of 50000,

calculate the raised salary of Jane, with base salary of 60000,

change raise_amount = 1.1

recalculate the raised salary of Jane and John

check if today is workday

In [ ]:
from datetime import datetime

class Employee:
    raise_amount = 1.05

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def apply_raise(self):
        self.salary = int(self.salary * self.raise_amount)

    @classmethod
    def set_raise_amount(cls, amount):
        cls.raise_amount = amount

    @staticmethod
    def is_workday():
        today = datetime.today().weekday()
        return today <=4


john = Employee("John", 50000)
jane = Employee("Jane", 60000)


john.apply_raise()
jane.apply_raise()

print(f"John's raised salary: {john.salary}")
print(f"Jane's raised salary: {jane.salary}")


Employee.set_raise_amount(1.1)


john.apply_raise()
jane.apply_raise()

print(f"John's new raised salary: {john.salary}")
print(f"Jane's new raised salary: {jane.salary}")
print(f"Is today a workday? {'Today is workday' if Employee.is_workday() else 'Not workday'}")

9/25 Q2: abstract class
Define Vehicle abstract base class with common attributes brand and model and an abstract method display_info().

Car, Bike, and Truck are subclasses of Vehicle, and each has its own additional attributes (number_of_doors for Car, has_sidecar for Bike, and payload_capacity for Truck).

Each subclass implements the display_info() method to return details specific to that subclass.

Create 3 instances

A Toyota, Camry car with 4 number_of_doors

A Harley, Street 750 bike without sidecar

A Ford, F-150 truck with 2.5 payload_capacity

What is the benefit of using abstract class?

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @abstractmethod
  def display_info(self):
    pass

class Car(Vehicle):
  def __init__(self,brand,model,number_of_doors):
    super().__init__(brand,model)
    self.number_of_doors=number_of_doors
  def display_info(self):
    return f"Car:{self.brand} {self.model}, number of doors: {self.number_of_doors}"

class Bike(Vehicle):
  def __init__(self,brand,model,has_sidecar):
    super().__init__(brand,model)
    self.has_sidecar=has_sidecar

  def display_info(self):
    sidecar_status="with sidecar" if self.has_sidecar else" without sidecar"
    return f"Bike:{self.brand} {self.model},{sidecar_status}"

class Truck(Vehicle):
  def __init__(self,brand,model,payload_capacity):
    super().__init__(brand,model)
    self.payload_capacity=payload_capacity

  def display_info(self):
    return f"Truck:{self.brand} {self.model},payload_capacity:{self.payload_capacity}"

car= Car("Toyota","Camry",4)
bike=Bike("Hayley","Street 750",False)
truck=Truck("Ford","F-150",2.5)

print(car.display_info())
print(bike.display_info())
print(truck.display_info())

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    @abstractmethod
    def display_info(self):
        pass

class Car(Vehicle):
  def __init__(self,brand,model,number_of_doors):
    super().__init__(brand, model)
    self.number_of_doors = number_of_doors

  def display_info(self):
    return self.brand,self.model,self.number_of_doors

class Bike(Vehicle):
  def __init__(self,brand,model,has_sidecar):
    super().__init__(brand, model)
    self.has_sidecar = has_sidecar

  def display_info(self):
    return self.brand,self.model,self.has_sidecar

class Truck(Vehicle):
  def __init__(self,brand,model,payload_capacity):
    super().__init__(brand, model)
    self.payload_capacity = payload_capacity

  def display_info(self):
    return self.brand,self.model,self.payload_capacity
Toyota = Car('Toyota','Camry',4)
print(Toyota.display_info())
Harley = Bike('Harley','Street 750',False)
print(Harley.display_info())
Ford = Truck('Ford','F-150',2.5)
print(Ford.display_info())

9/26 Q3: logging deccorator
Define Calculator class, with a attribute of value, and a method of sum

sum method will add any amount to the value.

Create a logging decorator: suppose you want to log every time a method is called.

In [ ]:
import logging

logging.basicConfig(level=logging.INFO)

def log_method_call(func):
    def wrapper(*args, **kwargs):
        logging.info(f"Calling method {func.__name__} with args: {args}, kwargs: {kwargs}")
        result = func(*args, **kwargs)
        logging.info(f"Method {func.__name__} returned: {result}")
        return result
    return wrapper

class Calculator:  # Class Definition: You need a class to hold the value attribute and the add method.
    def __init__(self, value=0):
        self.value = value

    @log_method_call
    def sum(self, amount):
        self.value += amount
        return self.value

calc = Calculator()
calc.sum(11)
calc.sum(7)

#A Number class is defined with an __init__ method to initialize the value attribute.
#The add method is decorated with log_method_call to log its calls and results.
#An instance of Number is created, and the add method is called on this instance.

In [ ]:

import logging

logging.basicConfig(level=logging.INFO)

def log_method_call(func):
    def wrapper(*args, **kwargs):
        logging.info(f"Calling method {func.__name__} with args: {args}, kwargs: {kwargs}")
        result = func(*args, **kwargs)
        logging.info(f"Method {func.__name__} returned: {result}")
        return result
    return wrapper

@log_method_call
def add(a,b):
   return a+b

add(7,11)

In [ ]:
def log_decorator(func):
    def log(*args):
       import logging
       logging.basicConfig(level='info')
       logging.info(f"Calling function: {func.__name__} \n Arguments: {args}")
       result = func(*args)
       logging.info(f"Returned results: {result}")
       return result
    return log

class calculator(object):
  def __init__(self,value):
    self.value = value
  @log_decorator
  def sum(self,amount):
    return self.value + amount


c1 = calculator(1)
c1.sum(c1.sum(c1.sum(100)))

# 9/30 Q5: Dataframe find the largest and the second largest number

In [ ]:
data = { 'Category': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'], 'Values': [10, 15, 7, 12, 9, 20, 5, 11] }

In [ ]:

import pandas as pd
data = { 'Category': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
        'Values': [10, 15, 7, 12, 9, 20, 5, 11] }

New_data= pd.DataFrame(data)

largest_num=New_data['Values'].max()
second_largest=New_data['Values'].nlargest(2).iloc[1]

print("the largest value is :",largest_num)
print("second_largest value is :",second_largest)

the largest value is : 20
second_largest value is : 15

In [ ]:
import pandas as pd

data = { 'Category': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C'],
        'Values': [10, 15, 7, 12, 9, 20, 5, 11] }

df = pd.DataFrame(data)
# Find the unique values in 'Values' column and sort them in descending order
sorted_values = df['Values'].sort_values(ascending=False).unique()

# Extract the largest and second largest values
largest = sorted_values[0]
second_largest = sorted_values[1]

print("\nLargest number:", largest)
print("Second largest number:", second_largest)

# 10/1 Q6: For each department, get the top 3 salaries
https://leetcode.com/problems/department-top-three-salaries/description/?envType=problem-list-v2&envId=database

In [ ]:

data = {
    'employee_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'department': ['HR', 'Engineering', 'HR', 'Engineering', 'Finance', 'Engineering', 'Finance', 'HR', 'Finance', 'Engineering'],
    'salary': [50000, 120000, 60000, 120000, 90000, 110000, 95000, 75000, 90000, 110000]  # Some duplicate salaries added
}

In [ ]:


##SQL
#With #temp AS (
  #  Select a.id,
   # a.departmentId,
   # a.Salary,
    #a.name as Employee,
    #b.name as Department,
    #DENSE_RANK()over( partition by b.id order by a.Salary DESC) AS SAL_RANK
    #from Employee  a
    #Left JOIN Department b ON a.departmentId= b.id

#)

#Select Department,Employee,Salary
#from #temp
#where SAL_RANK <=3


##PANDAS
import pandas as pd
data = {
    'employee_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'],
    'department': ['HR', 'Engineering', 'HR', 'Engineering', 'Finance', 'Engineering', 'Finance', 'HR', 'Finance', 'Engineering'],
    'salary': [50000, 120000, 60000, 120000, 90000, 110000, 95000, 75000, 90000, 110000]  # Some duplicate salaries added
}

salary_data= pd.DataFrame (data)
salary_data['rank']= salary_data.groupby('department')['salary'].rank(method='dense',ascending=False)
salary_data[salary_data['rank'] <= 3][['department', 'name', 'salary']].sort_values(by=['department', 'salary'], ascending=False)

    department     name  salary
7           HR    Heidi   75000
2           HR  Charlie   60000
0           HR    Alice   50000
6      Finance    Grace   95000
4      Finance      Eve   90000
8      Finance     Ivan   90000
1  Engineering      Bob  120000
3  Engineering    David  120000
5  Engineering    Frank  110000
9  Engineering     Judy  110000

In [ ]:
10/2 Q7: Trip Cancellation Rate

In [ ]:
#mandy
import pandas as pd

# Sample data
trips_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'client_id': [101, 102, 103, 104, 105, 106],
    'driver_id': [201, 202, 203, 204, 205, 206],
    'city_id': [1, 1, 2, 2, 3, 3],
    'status': ['completed', 'cancelled_by_client', 'completed', 'cancelled_by_driver', 'completed', 'cancelled_by_client'],
    'request_at': ['2013-10-01', '2013-10-01', '2013-10-02', '2013-10-02', '2013-10-03', '2013-10-03']
}

users_data = {
    'users_id': [101, 102, 103, 104, 105, 106, 201, 202, 203, 204, 205, 206],
    'banned': ['No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No'],
    'role': ['client', 'client', 'client', 'client', 'client', 'client', 'driver', 'driver', 'driver', 'driver', 'driver', 'driver']
}

# Convert to DataFrames
trips_df = pd.DataFrame(trips_data)
users_df = pd.DataFrame(users_data)

# Merge trips with users on client_id
final_table_user = pd.merge(trips_df, users_df, left_on='client_id', right_on='users_id', how='left')

# Merge trips with users on driver_id
final_table_driver = pd.merge(trips_df, users_df, left_on='driver_id', right_on='users_id', how='left')
# Combine the relevant columns from both DataFrames
final_table = final_table_user.copy()
final_table['driver_banned'] = final_table_driver['banned']
final_table['driver_role'] = final_table_driver['role']
final_table=final_table[(final_table['banned']=='No')]
cancelled_trips = final_table[final_table['status'].str.contains('cancelled')]
cancellation_rate = final_table.groupby('request_at')['status'].apply(lambda x: (x.str.contains('cancelled')).mean()).reset_index()

# Select the relevant columns
cancellation_rate.columns= ['day', 'cancellation_rate']
cancellation_rate

          day  cancellation_rate
0  2013-10-01                0.5
1  2013-10-02                0.0
2  2013-10-03                0.5

In [ ]:
# Example Data for 'Trips' Table
trips_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'client_id': [101, 102, 103, 104, 105, 106],
    'driver_id': [201, 202, 203, 204, 205, 206],
    'city_id': [1, 1, 2, 2, 3, 3],
    'status': ['completed', 'cancelled_by_client', 'completed', 'cancelled_by_driver', 'completed', 'cancelled_by_client'],
    'request_at': ['2013-10-01', '2013-10-01', '2013-10-02', '2013-10-02', '2013-10-03', '2013-10-03']
}

# Example Data for 'Users' Table
users_data = {
    'users_id': [101, 102, 103, 104, 105, 106, 201, 202, 203, 204, 205, 206],
    'banned': ['No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No'],
    'role': ['client', 'client', 'client', 'client', 'client', 'client', 'driver', 'driver', 'driver', 'driver', 'driver', 'driver']
}

# Convert to DataFrames
import pandas as pd

trips_df = pd.DataFrame(trips_data)
users_df = pd.DataFrame(users_data)
df = pd.merge(trips_df, users_df, left_on='client_id', right_on='users_id', how='left')
df = df[(df['banned'] == 'No') & (df['role'] == 'client')]
cancellation_rate = df.groupby('request_at')['status'].apply(lambda x: (x == 'cancelled_by_client').mean()).reset_index()
cancellation_rate.columns = ['Day', 'Cancellation Rate']
cancellation_rate

# 10/4 Q8: Average Salary Comparison

Given two tables as below, write a query to display the comparison result (higher/lower/same) of the  average salary of employees in a department to the company's average salary.

In [ ]:

import pandas as pd
# example data
salary_data = [
    {'id': 1, 'employee_id': 1, 'amount': 9000, 'pay_date': '2017-03-31'},
    {'id': 2, 'employee_id': 2, 'amount': 6000, 'pay_date': '2017-03-31'},
    {'id': 3, 'employee_id': 3, 'amount': 10000, 'pay_date': '2017-03-31'},
    {'id': 4, 'employee_id': 1, 'amount': 7000, 'pay_date': '2017-02-28'},
    {'id': 5, 'employee_id': 2, 'amount': 6000, 'pay_date': '2017-02-28'},
    {'id': 6, 'employee_id': 3, 'amount': 8000, 'pay_date': '2017-02-28'},
]

employee_data = [
    {'employee_id': 1, 'department_id': 1},
    {'employee_id': 2, 'department_id': 2},
    {'employee_id': 3, 'department_id': 2},
]

salary_df= pd.DataFrame(salary_data)
employee_df=pd.DataFrame(employee_data)
salary_df['pay_date']=pd.to_datetime(salary_df['pay_date'])
salary_df['month']=salary_df['pay_date'].dt.month
final_table=pd.merge(salary_df,employee_df,on='employee_id',how='left')
final_table_avedep=final_table.groupby(['month','department_id'])['amount'].mean().reset_index()
final_table_avecomp=final_table.groupby(['month'])['amount'].mean().reset_index()
final_table_ave=pd.merge(final_table_avedep,final_table_avecomp,on='month',how='left').rename(columns={'amount_x':'Ave_salary','amount_y':'Ave_totalsal'})
final_table_ave['comparison_ave']=final_table_ave.apply(lambda x:'Higher than ave'if x['Ave_salary']>x['Ave_totalsal'] else('lower than ave' if x['Ave_salary'] < x['Ave_totalsal'] else 'Same with Ave'),axis=1)
final_table_ave[['month','department_id','comparison_ave']]

   month  department_id   comparison_ave
0      2              1    Same with Ave
1      2              2    Same with Ave
2      3              1  Higher than ave
3      3              2   lower than ave

In [ ]:

import pandas as pd
salary_data = pd.DataFrame(salary_data)
employee_data = pd.DataFrame(employee_data)
df = pd.merge(salary_data, employee_data, on='employee_id',how='left')
df['Date']=df['pay_date'].str[:7]
a = df.groupby(['Date','department_id'])['amount'].mean().reset_index()
b = df.groupby(['Date'])['amount'].mean().reset_index()
final = pd.merge(a,b,on='Date',how='left').rename(columns={'amount_x':'avg_salary','amount_y':'total_avg'})
final['Status'] = final.apply(lambda x: 'Higher' if x['avg_salary'] > x['total_avg'] else ('Lower' if x['avg_salary'] < x['total_avg'] else 'Same'), axis=1)
final[['Date','department_id','Status']]

# Select Date, Department, (CASE WHEN avg_salary > total_avg then "Higher" WHEN avg_salary < total_avg then "Lower" ELSE "Same" END) as Status
# FROM(
# Select to_char(pay_date,"YYY-MM") as Date,department_id as Department, avg(amount) OVER(partition by to_char(pay_date,"YYY-MM"), department_id) as avg_salary, avg(amount) OVER(partition by to_char(pay_date,"YYY-MM")) as total_avg
# FROM salary_data as s
# LEFT JOIN employee_data as e on s.employee_id = e.employee_id)
# GROUP BY 1,2

# 10/22 Q13: Strings - Longest Substring Without Repeating Charactersï¼š

https://leetcode.com/problems/longest-substring-without-repeating-characters/description/

example1:
Input: s = "abcabcbb"

Output: 3

Explanation: The answer is "abc", with the length of 3.

example2:

Input: s = "pwwkew"

Output: 3

Explanation: The answer is "wke", with the length of 3.

Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.

In [ ]:
# Solution 1:
    def lengthOfLongestSubstring(self, s: str) -> int:
       length=0
       longestS=0
       map={}

       for l in range(len(s)):
        string= s[l]
        if string in map and map[string]>=longestS:
          longestS = map[string] + 1

        length = max(length, l - longestS + 1)
        map[string] = l

       return length

test = Solution()
test_char = "abcabbbb"
length = test.lengthOfLongestSubstring(test_char)
print(length)


#Solution 2:
class Solution:
    def lengthOfLongestSubstring(self, s: str) -> int:
      ls = []
      output = []
      a = 0
      for i in range(len(s)):
        if s[i] not in ls:
          ls.append(s[i])
        else:
          output.append(len(ls))
          ls = []
          ls.append(s[i])
      if output == []:
        return len(s)
      else:
        return max(output)

#Test
solution = Solution()
test_string = "pwwkew"
result = solution.lengthOfLongestSubstring(test_string)
print(result)

3

# 10/30 Q15: Strings-ç»™å®šä¸¤ä¸ªä»¥å­—ç¬¦ä¸²å½¢å¼è¡¨ç¤ºçš„éžè´Ÿæ•´æ•° num1 å’Œ num2ï¼Œè¿”å›ž num1 å’Œ num2 çš„ä¹˜ç§¯ï¼Œå®ƒä»¬çš„ä¹˜ç§¯ä¹Ÿè¡¨ç¤ºä¸ºå­—ç¬¦ä¸²å½¢å¼ã€‚

ç¤ºä¾‹ 1:

è¾“å…¥: num1 = "2", num2 = "3"
è¾“å‡º: "6"

ç¤ºä¾‹ 2:

è¾“å…¥: num1 = "123", num2 = "456"
è¾“å‡º: "56088"

https://leetcode.com/problems/multiply-strings/description/

In [ ]:

class Solution:
  def multiply(self, num1, num2):
        total = num1 * num2
        return str(total)

solution = Solution()
num1 = 123
num2 = 456
print(solution.multiply(num1, num2))

56088

In [ ]:

class Solution:
    def multiply(self, num1: str, num2: str) -> str:
       return str(int(num1)*int(num2))

solution = Solution()
num1 = "123"
num2 = "456"
print(solution.multiply(num1,num2))

56088